/* CSS Document */
html,
body {
  font-family: 'Muli';
  width: 100%; }

img {
  max-width: 100%; }

/* Type */
h1 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center; }

h2 {
  font-size: 1.75em;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0px; }

h5 {
  font-size: 1.2em;
  margin-top: .25em;
  line-height: 1.3em; }

.title {
  margin-top: -2em;
  padding-left: 0px !important; }

h1, h2, h3, h4, h5, .title, .navbar {
  font-family: 'Muli'; }

/* Nav Bar */
.navbar .container.row {
  width: 100%;
  margin-top: 3em;
  margin-bottom: 2em;
  padding-left: 1em;
  background-color: #e8f9ff;
  line-height: 2.5em; }

ul.navbar-list {
  list-style: none;
  text-align: left;
  margin-bottom: 0px; }

ul.navbar-list li {
  display: inline-block;
  padding: 0px 10px;
  margin-bottom: 0px;
  font-size: 1em; }

a:hover, ul.navbar-list li.active a {
  color: #33C3F0; }

/* Footer */
.footer {
  padding: .65em;
  padding-bottom: .25em;
  padding-left: calc(1em + 10px);
  background-color: #e8f9ff;
  margin-top: 2em;
  margin-bottom: 3em; }

.footer table {
  width: 100%;
  margin-bottom: 0px; }

.footer table tr, .footer table tr td, .footer table tr th {
  border: none; }

.footer table tr td, .footer table tr th {
  padding: 0px;
  padding-left: 0px;
  font-size: .85em; }

.footer a {
  line-height: 20px;
  font-size: 20px; }

.social-media img {
  transition: all 250ms ease-in-out;
  tranform: scale(1);
  margin-right: .75em; }

.social-media img:hover {
  transform: scale(1.15); }

.left, .right {
  /*
  	height: 245px;	
  	background-color: #b9b5b5;
  */ }

.marlogo {
  min-height: 270px; }

/* sections */
.main-info {
  background-color: #feffe8;
  padding-bottom: 1em;
  margin-bottom: 2.5em; }

.content {
  padding: 1.5em; }

.content p {
  margin-top: 1em; }

.qualifications {
  padding-bottom: 4em; }

.qualifications ul, .degrees, .awards, .press {
  margin-top: 1em;
  list-style: none; }

.awards li, .press li {
  margin-top: 1.5em; }

/* extras */
.top-margin {
  margin-top: 2em; }
