extends templates/_layout.jade
block content
  .row
    .twelve.columns.title.content
      h1 About
  #grid.main-content
    .row
      .eight.columns.main-info.content.personal-statement.match-image-height
        p
          | Basic science exists as a language and a culture all its own. I am a translator and a cultural ambassador. I am a quick learner who possesses strong analytic skills, a collaborative spirit, and a passion for developing new skills and meeting new people. I am fortunate to work in an environment in which I'm exposed to the broad applications of STEM. I am familiar with research and literature in an array of disciplines within the life sciences. I am passionate about communicating science and increasing entry points to educational access especially to under-resourced populations. I look forward to leveraging my scientific training to promote scientific literacy and shape the future of scientific innovation.
      .four.columns.marlogo
        img(src='public/images/crab2.png')
    .row
      .ten.columns.main-info.content.qualifications
        h2 Overview of Qualifications
        ul
          li
            strong Concept driven
            |  trained empiricist proficient at evaluating, understanding and communicating basic science
          li
            | Experienced in developing 
            strong  fun and accessible science curriculum 
            | for under-resourced middle- and high school students
          li
            | 10+ years of experience with a wide range of techniques in basic 
            strong  laboratory research and data analysis
          li 
          strong Accomplished teacher to diverse audiences
          | , grade 6 through university level
          li
            strong Capable communicator 
            |  with a demonstrated ability to work in diverse, collaborative and dynamic environments
          li Effective 
            strong grant and fellowship writer
          li
            strong Creative and innovative thinker 
            | and advocate for interdisciplinary, innovative STEM Education.

