extends templates/_layout.jade
block content
  .row
    .twelve.columns.title.content
      h1 Awards, Honors, & Press
  #grid.main-content
    .row
      .twelve.columns.main-info.content
        h2 Awards & Honors
        ul.awards
          li
            strong American Physiological Society William Townsend Porter Physiology Fellowship 
            br
            em September 2010 - September 2012
          li
            strong
              | American Psychological Association Diversity Program in Neuroscience Pre-Doctoral Fellowship
            br
            em July 2009 - July 2010
          li
            strong
              | Marine Biological Laboratory Summer Program in Neuroscience Ethics and Survival Fellowship
            br
            em June 2008 - July 2008 
      .row
        .eight.columns.main-info.content
          h2 Press
          ul.press
            li
              strong
                a(href='http://scienceclubforgirls.org/news-events-2/blog/mareshia-donalds-letter-to-her-young-self') Mareshia Donald’s letter to her young self
              br
              em scienceclubforgirls.org
            li
              strong
                a(href='http://www.brandeis.edu/now/2011/october/womeninscience.html') Growing cohort of women in science calling Brandeis home
              br
              em brandeis.edu
        .four.columns.marlogo