extends templates/_layout.jade
block content
  #grid.main-content
    .row
      .four.columns.marlogo
        img(src='images/headshot-new.jpg')
      .eight.columns.main-info.content
        h2 Mareshia Donald, PhD
        h5
          | Scientist, STEM Educator and Outreach Professional with a commitment to social justice and diversifying the STEM pipeline.
      .four.columns.left.content
        | {space}
      .four.columns.right.content
        | {space}