extends templates/_layout.jade
block content
  #grid.main-content
    .row
      .eight.columns.main-info.content.mobile
        h1 Mareshia Donald, PhD
        h5
          | Scientist, STEM Educator and Outreach Professional with a commitment to social justice and diversifying the STEM pipeline.
      .four.columns.marlogo
        img(src='public/images/headshot-new.jpg')
      .eight.columns.main-info.content.desktop
        h1 Mareshia Donald, PhD
        h5
          | Scientist, STEM Educator and Outreach Professional with a commitment to social justice and diversifying the STEM pipeline.
      .four.columns.left.content.desktop
        | 
      .four.columns.right.content.desktop
        | 