extends templates/_layout.jade
block body-id
  - bodyID = 'index';
block content
  #grid.main-content
    .row
      .twelve.columns.main-info.content.mobile
        .wrapper
          .inner-wrapper
            h1 Mareshia Donald, PhD
            h5
              | Scientist, STEM Educator and Outreach Professional with a commitment to social justice and diversifying the STEM pipeline.
    .row.content
      .four.columns.marlogo
        img(src='/public/images/headshot-new.jpg')
      .eight.columns.main-info.desktop
        .wrapper
          h1 Mareshia Donald, PhD
          h5
            | Scientist, STEM Educator and Outreach Professional with a commitment to social justice and diversifying the STEM pipeline.