h2 Awards & Honors
dl.awards
  <!-- HERE to add to beginning -->
  dt
    strong American Physiological Society William Townsend Porter Physiology Fellowship 
  dd.date
    em September 2010 - September 2012
  dt
    strong
      | American Psychological Association Diversity Program in Neuroscience Pre-Doctoral Fellowship
  dd.date
    em July 2009 - July 2010
  dt
    strong
      | Marine Biological Laboratory Summer Program in Neuroscience Ethics and Survival Fellowship
  dd.date
    em June 2008 - July 2008 
  <!-- HERE to add to end -->