h2 Press
dl.press 
  <!-- HERE to add to beginning -->
  dt
    strong
      a(href='http://scienceclubforgirls.org/news-events-2/blog/mareshia-donalds-letter-to-her-young-self') Mareshia Donald’s letter to her young self
  dd.link
    a(href='http://scienceclubforgirls.org')
      em scienceclubforgirls.org
  dt
    strong
      a(href='http://www.brandeis.edu/now/2011/october/womeninscience.html') Growing cohort of women in science calling Brandeis home
  dd.link
    a(href='http://www.brandeis.edu')
      em brandeis.edu
  <!-- HERE to add to end -->