h2 Overview of Qualifications
ul
  <!-- HERE to add to beginning -->
  li
    strong Concept driven
    |  trained empiricist proficient at evaluating, understanding and communicating basic science
  li
    | Experienced in developing 
    strong  fun and accessible science curriculum 
    | for under-resourced middle- and high school students
  li
    | 10+ years of experience with a wide range of techniques in basic 
    strong  laboratory research and data analysis
  li 
  strong Accomplished teacher to diverse audiences
  | , grade 6 through university level
  li
    strong Capable communicator 
    |  with a demonstrated ability to work in diverse, collaborative and dynamic environments
  li Effective 
    strong grant and fellowship writer
  li
    strong Creative and innovative thinker 
    | and advocate for interdisciplinary, innovative STEM Education.
  <!-- HERE to add to end -->
