extends ../templates/_layout.jade
block body-id
  - bodyID = 'awards';
block content
  #grid.main-content
    .row.content
      .twelve.columns.main-info
        h2 Awards & Honors
        dl.awards
          dt
            strong American Physiological Society William Townsend Porter Physiology Fellowship 
          dd.date
            em September 2010 - September 2012
          dt
            strong
              | American Psychological Association Diversity Program in Neuroscience Pre-Doctoral Fellowship
          dd.date
            em July 2009 - July 2010
          dt
            strong
              | Marine Biological Laboratory Summer Program in Neuroscience Ethics and Survival Fellowship
          dd.date
            em June 2008 - July 2008 
    .row.content
      .eight.columns.main-info
        h2 Press
        dl.press
          dt
            strong
              a(href='http://scienceclubforgirls.org/news-events-2/blog/mareshia-donalds-letter-to-her-young-self') Mareshia Donald’s letter to her young self
          dd.link
            a(href='http://scienceclubforgirls.org')
              em scienceclubforgirls.org
          dt
            strong
              a(href='http://www.brandeis.edu/now/2011/october/womeninscience.html') Growing cohort of women in science calling Brandeis home
          dd.link
            a(href='http://www.brandeis.edu')
              em brandeis.edu