
<h2>Overview of Qualifications</h2>
<ul>
  <li><strong>Concept driven</strong> trained empiricist proficient at evaluating, understanding and communicating basic science</li>
  <li>Experienced in developing <strong> fun and accessible science curriculum </strong>for under-resourced middle- and high school students</li>
  <li>10+ years of experience with a wide range of techniques in basic <strong> laboratory research and data analysis</strong></li>
  <li> </li><strong>Accomplished teacher to diverse audiences</strong>, grade 6 through university level
  <li><strong>Capable communicator </strong> with a demonstrated ability to work in diverse, collaborative and dynamic environments</li>
  <li>Effective <strong>grant and fellowship writer</strong></li>
  <li><strong>Creative and innovative thinker </strong>and advocate for interdisciplinary, innovative STEM Education.</li>
</ul>