extends ../templates/_layout.jade
block body-id
  - bodyID = 'about';
block content
  #grid.main-content
    .row
      .eight.columns.main-info.content.personal-statement
        include partials/_personal-statement.jade
      .four.columns.marlogo.content.image-col
        img(src='/public/images/crab2.png')
    .row
      .twelve.columns.main-info.content.qualifications
        include partials/_overview.jade
