extends ../templates/_layout.jade
block body-id
  - bodyID = 'howto';
block content
  article#grid.main-content
    section#header.row.content
      .twelve.columns.content
        h1 How to Update MareshiaDonald.com
    .row.content
      .twelve.columns.content
        p.no-top-margin On this page, I'll describe the the workflow of updating the website mareshiadonald.com. I will attempt to be as detailed as possible by listing the software that you'll need; how to download the current site's content; the files that you may want to edit; templates for editing particular sections; and how to upload to the site.
    .row.content
      .twelve.columns.content
        include partials/_main-nav.jade
    .row.content
      section#software.twelve.columns.content
        include partials/_software.jade
    .row.content
      section#setup-filezilla.twelve.columns.content
        include partials/_filezilla-setup.jade
    .row.content
      section#files.twelve.columns.content
        h2 Files
        hr
        ul
          include partials/_images.jade
          include partials/_index.jade
          include partials/_about.jade
          include partials/_awards.jade
          include partials/_edu.jade
          include partials/_service.jade
    .row.content
      section#code-reference.twelve.columns.content
        include partials/_code-ref.jade