h2 Education
dl.degrees
  <!-- HERE to add to beginning -->
  dt
    strong Ph.D Neuroscience
  dd.address
    em Brandeis University, Waltham MA 2014
  dt
    strong B.A. Neuroscience and Behavior
  dd.address
    em University of California at Santa Cruz, Santa Cruz CA 2004
  dt
    strong B.A. Language Studies
  dd.address
    em University of California at Santa Cruz, Santa Cruz CA 2004
  <!-- HERE to add to end -->