/* generic */

html,
body {
  width: 100vw;
  min-height: 100vh;
}

body {
  display: inline-block;
  position: relative; 
  
  background-image: image-url('bg/microscope_hex.png');
  background-position-y: -150px;
  background-size: cover;

  @media only screen and (max-width: 960px) and (min-width: 600px){
    background-image: image-url('bg/microscope_hex-med.png');
  }

  @media only screen and (max-width: 750px) {
    background-image: image-url('bg/microscope_hex-small.png');
  }

  @media only screen and (max-width: 550px) {
    background-image: image-url('bg/microscope_hex-xs.png');
  }
  
  > .container:nth-of-type(1) {
    background-color: $main-info-background-color;
    padding: 1em;
    padding-top: .5em;
    min-height: 100%; 
    
    @media(max-width: $mobile-nav-width) {
      &:not(nav) {
        width: calc(100% - 2em);
        margin-right: 1em;
        margin-left: 1em;
      }
    }
    
     @media (max-width: $mobile-width) {
        &:not(nav) {
          padding: 1em;
          padding-top: 1em;
        }
      }
  }
  
}

.container {
  position: static;
  margin-bottom: 1em;
  border-radius: 1px;
  
  &.no-margin {
    margin-bottom: 0; 
    padding-top: 0;
    padding-bottom: 0;
  }
  
  
  @media(max-width: $mobile-nav-width) {
    padding-top: ($line-height + $font-size-base) * 2;
    padding-bottom: 30px;
  }
  
  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 0 20px 10px 30px;
    padding-bottom: 3em;
    padding-top: 5em;
    
  }
  
  &.title-wrapper {
    margin-bottom: 1em !important;
    .title {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    
    @media(max-width: $mobile-nav-width) {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 1em;
      padding-bottom: 1em;
      h1 {
        padding-bottom: 0; 
      }
      .title {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    background-color: rgba(255, 255, 255, 0.5) !important;
  }
}

.row {
  &:first-of-type {
    .image-col {
      margin-top: 6px; 
    }
  }
}

.column, .columns {
  &:first-of-type {
    margin-left: 0 !important; 
  }
  
  &.image-col {
    text-align: center;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: .5em;
    
    @media (max-width: $mobile-nav-width) {
      margin-bottom: 1em;
      padding-bottom: .75em;
     }
  }
}

.content {
  padding: $content-padding/2 $content-padding/2;
  p {
    margin-top: $content-margin;
    
    &:last-of-type {
      margin-bottom: $content-margin/2; 
    }
  }
  
  @media (max-width: $mobile-width) {
    &.qualifications,  &.experiences {
      padding-bottom: 3em; 
    }
  }
  
  &.qualifications {
    padding-top: 0;
    
    @media (max-width: $mobile-nav-width) {
      padding-top: .75em;
     }
  } 
}

.qualifications ul,
.inline-image,
.degrees,
.service,
.awards,
.press,
.experience {
  margin-top: $content-margin;
}

.experiences {
  margin-left: 1em; 
}

.main-info {
  background-color: $main-info-background-color;
  //padding-bottom: $content-margin;
  margin-bottom: 1em;
  
  @media (max-width: $mobile-width) {
    h2 {
      text-align: center;
    } 
    
  }
}