@charset "utf-8";

html,
body {
  font-family: $base-font;
  color: $type-base-color;
  font-size: $font-size;
  line-height: $line-height;
}

h1,
h2,
h3,
h4,
h5,
.title,
.navbar {
  font-family: $title-font;
}

h1 {
  font-size: $font-size-title-large;
  font-weight: $font-regular;
  text-align: center;
}

.main-info h1 {
  text-align: left; 
}

h2 {
  font-size: $font-size-title-medium;
  font-weight: $font-regular
}

h5 {
  font-size: $font-size-title-small;
  line-height: $line-height;
}

em {
  color: $em-color;
} 

strong { 
  font-weight: $font-bold;
  font-size: 1.1em;
  
  a {
    text-decoration: underline;
  }
}

a {
  color: $link-color;
}

dl {
  dd.description {
    @media (max-width: $mobile-width) {
      p {
        text-align: left; 
      }
    }
  }
}

/* nav bar */

.navbar .container.row {
  line-height: 2.5em;
}

ul.navbar-list {
  text-align: left;
  li {
    font-size: $font-size-base;
  }
}

a:hover,
ul.navbar-list a li.active  {
  color: $link-hover-color;
}


/* footer */

.footer {
  a {
    line-height: $font-size-footer;
    font-size: $font-size-footer;
  }
  table tr {
    td,
    th {
      font-size: $font-size-footer-small;
    }
  }
}