@charset "utf-8";

html,
body {
  font-family: $base-font;
  color: $type-base-color;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-light;
}

h1,
h2,
h3,
h4,
h5,
.title,
.navbar {
  font-family: $title-font;
}

h1 {
  font-size: $font-size-title-large;
  font-weight: $font-light;
  text-align: center;
  padding-bottom: 4px;
  
  @media (max-width: $mobile-nav-width) {
    padding-bottom: .75em;
    border-bottom: 0px solid rgba($em-color, .2);
    text-align: center;
  }
}

.main-info h1 {
  text-align: left; 
}

h2 {
  font-size: $font-size-title-medium;
  font-weight: $font-light;
  @media(max-width: $mobile-nav-width) {
    margin-bottom: 1em; 
  }
  
}

h3 {
  font-size: $font-size-title-small;
  font-weight: $font-light;
  margin-bottom: .5em;
  margin-top: 1em;
}

h5 {
  font-size: $font-size-title-small;
  line-height: $line-height;
}

em {
  color: $em-color;
  font-weight: $font-light;
} 

strong { 
  font-weight: $font-regular;
  font-size: 1.1em;
  
  a {
    text-decoration: underline;
  }
}

a {
  color: $link-color;
}

dl {
  line-height: 1.3em;
  dd {
    font-weight: $font-light;
    &.description {
      line-height: $line-height;

      @media (max-width: $mobile-width) {
        p {
          text-align: left; 
        }
      }
    }
    &.address, &.date, &.link {
      font-size: $font-size-footer-small; 
      line-height: 1.25em;
    }
  }
  dt {
    &.service-item {
      em {
        font-size: $font-size-footer-small; 
        line-height: 1.25em;
      }
    }
  }
}

.centered {
  margin-bottom: 2em;
  margin-top: 1em;
}

table.middle {
  vertical-align: middle;
}



/* nav bar */

.navbar .container.row {
  line-height: 2.5em;
  
}

ul.navbar-list {
  text-align: left;
  li {
    font-size: $font-size-base;
    font-weight: $font-light;
  }
}

a:hover,
ul.navbar-list a li.active  {
  color: $link-hover-color;
}



/* footer */

.footer {
  a {
    line-height: $font-size-footer;
    font-size: $font-size-footer;
  }
  table tr {
    td,
    th {
      font-size: $font-size-footer-small;
    }
  }
}

ul, ol {
  list-style-position: outside;
  -webkit-column-width: 100%;
}

ul {
  list-style: none;
}