// font
$base-font: 'Muli';
$title-font: $base-font;

// font-weight
$font-light: 300;
$font-regular: 400;
$font-bold: 800;

// font sizes
$font-size: 16px;
$font-size-base: 1em;
$line-height: 1.5em;

$font-size-title-large: 2.1em;
$font-size-title-medium: 1.8em;
$font-size-title-small: 1.4em;

$font-size-footer: 20px;
$font-size-footer-small: .85em;

// type colors
$type-base-color: #000000;

$red: #ff7f7e;
$blue: #7ae2df;


$link-color: $type-base-color;
$link-hover-color: $blue;



$em-color: #9b9b9b;

// background colors
$main-info-background-color: rgba(255, 255, 255, 0.935);

$nav-bar-background-color: rgba(255, 255, 255,1);
$footer-background-color: $nav-bar-background-color;


$border-color: rgba(#d3d2d2, .2);



// sizes
$mobile-width: 550px;
$mobile-nav-width: 750px;
$base-width: 100%;

$min-logo-height: 270px;

$content-padding: 1.5em;
$content-margin: 1em;

$nav-border-width: 1px;


