li#about
  h3
    strong /about/index.html
  p This is the file for 
    strong MareshiaDonald.com/about/
  img(src="/public/images/how-to/5about.png")
  p To find the areas that you'll want to edit, look for the title of the section you want to edit
  ol
    li
      | Personal Statement : 
      dl
        dt
          p Find the block of code directly underneath the correct heading
        dd
          pre
            code
              | &lt;h2&gt;Personal Statement&lt;/h2&gt;
              | <strong>&lt;p&gt;</strong>Basic science exists as a language and a culture all its own. I am a translator and a cultural ambassador. I am a quick learner who possesses strong analytic skills, a collaborative spirit, and a passion for developing new skills and meeting new people. I am fortunate to work in an environment in which I'm exposed to the broad applications of STEM. I am familiar with research and literature in an array of disciplines within the life sciences. I am passionate about communicating science and increasing entry points to educational access especially to under-resourced populations. I look forward to leveraging my scientific training to promote scientific literacy and shape the future of scientific innovation.</strong>&lt;/p&gt;</strong>
        dt
          p Replace the text inside of
        dd
          pre
            code <strong>&lt;p&gt;</strong> [ insert personal statement ] <strong>&lt;/p&gt;</strong>
        dd
          blockquote Basic science exists as a language and a culture&hellip;
    li
      | Overview of Qualifications
      dl
        dr
          p Find the block of code directly underneath the correct heading.
        dd
          pre
            code
              | &lt;h2&gt;Overview of Qualifications&lt;/h2&gt;
              |   &lt;ul&gt;
              |     <strong>&lt;li&gt;&lt;strong&gt;</strong>Concept driven<strong>&lt;/strong&gt;</strong> trained empiricist proficient at evaluating, understanding and communicating basic science<strong>&lt;/li&gt;</strong>
              |     &lt;li&gt;Experienced in developing &lt;strong&gt; fun and accessible science curriculum &lt;/strong&gt;for under-resourced middle- and high school students&lt;/li&gt;
              |     &lt;li&gt;10+ years of experience with a wide range of techniques in basic &lt;strong&gt; laboratory research and data analysis&lt;/strong&gt;&lt;/li&gt;
              |     &lt;li&gt; &lt;/li&gt;&lt;strong&gt;Accomplished teacher to diverse audiences&lt;/strong&gt;, grade 6 through university level
              |     &lt;li&gt;&lt;strong&gt;Capable communicator &lt;/strong&gt; with a demonstrated ability to work in diverse, collaborative and dynamic environments&lt;/li&gt;
              |     &lt;li&gt;Effective &lt;strong&gt;grant and fellowship writer&lt;/strong&gt;&lt;/li&gt;
              |     &lt;li&gt;&lt;strong&gt;Creative and innovative thinker &lt;/strong&gt;and advocate for interdisciplinary, innovative STEM Education.&lt;/li&gt;
              |   &lt;/ul&gt;
        dt
          p To add (or edit) a qualification use
        dd
          pre
            code <strong>&lt;li&gt; &lt;strong&gt;</strong> [ insert bold word ] <strong>&lt;/strong&gt;</strong> [ insert rest of statement ] <strong>&lt;/li&gt;</strong>
        dd
          | e.g.
          blockquote
            strong Concept driven 
            |  trained empiricist proficient at evaluating, understanding and communicating basic science