li#awards
  h3
    strong /awards-honors-press/index.html
  p
    | This is the file for 
    strong MareshiaDonald.com/awards-honors-press/
  img(src="/public/images/how-to/6awards.png")
  p To find the areas that you'll want to edit, look for the section title
  ol
    li
      | Awards & Honors
      dl
        dt
          p Find the block of code directly underneath the correct heading.
        dd
          pre
            code
              | &lt;h2&gt;Awards &amp; Honors&lt;/h2&gt;
              | &lt;dl class=&quot;<strong>awards</strong>&quot;&gt;
              |   <strong>&lt;dt&gt;&lt;strong&gt;</strong>American Physiological Society William Townsend Porter Physiology Fellowship <strong>&lt;/strong&gt;&lt;/dt&gt;</strong>
              |   <strong>&lt;dd class=&quot;date&quot;&gt;&lt;em&gt;</strong>September 2010 - September 2012<strong>&lt;/em&gt;&lt;/dd&gt;</strong>
              |   &lt;dt&gt;&lt;strong&gt;American Psychological Association Diversity Program in Neuroscience Pre-Doctoral Fellowship&lt;/strong&gt;&lt;/dt&gt;
              |   &lt;dd class=&quot;date&quot;&gt;&lt;em&gt;July 2009 - July 2010&lt;/em&gt;&lt;/dd&gt;
              |   &lt;dt&gt;&lt;strong&gt;Marine Biological Laboratory Summer Program in Neuroscience Ethics and Survival Fellowship&lt;/strong&gt;&lt;/dt&gt;
              |   &lt;dd class=&quot;date&quot;&gt;&lt;em&gt;June 2008 - July 2008 &lt;/em&gt;&lt;/dd&gt;
              | &lt;/dl&gt;
        dt
          p To add (or edit) an Award/Honor, you'll have to touch two lines. The first for the award/honor title
        dd
          pre
            code <strong>&lt;dt&gt;&lt;strong&gt;</strong> [ insert award/honor title ] <strong>&lt;/strong&gt;&lt;/dt&gt;</strong>
        dt
          p The second for the award honor's date
        dd  
          pre
            code <strong>&lt;dd class=&quot;date&quot;&gt;&lt;em&gt;</strong> [ insert date ]<strong>&lt;/em&gt;&lt;/dd&gt;</strong>

        dd
          | e.g
          blockquote
            strong
              | American Physiological Society William Townsend Porter Physiology Fellowship
            em 
              | <br>September 2010 - September 2012

    li
      | Press:
      dl
        dt
          p Find the block of code directly underneath the correct heading.
        dd
          pre
            code
              | &lt;h2&gt;Press&lt;/h2&gt;
              |   &lt;dl class=&quot;<strong>press</strong>&quot;&gt;
              |     <strong>&lt;dt&gt;&lt;strong&gt;&lt;a href=&quot;</strong>http://scienceclubforgirls.org/news-events-2/blog/mareshia-donalds-letter-to-her-young-self<strong>&quot;&gt;</strong>Mareshia Donald&rsquo;s letter to her young self<strong>&lt;/a&gt;&lt;/strong&gt;&lt;/dt&gt;</strong>
              |     <strong>&lt;dd class=&quot;link&quot;&gt;&lt;a href=&quot;</strong>http://scienceclubforgirls.org<strong>&quot;&gt;&lt;em&gt;</strong>scienceclubforgirls.org<strong>&lt;/em&gt;&lt;/a&gt;&lt;/dd&gt;</strong>
              |     &lt;dt&gt;&lt;strong&gt;&lt; href=&quot;http://www.brandeis.edu/now/2011/october/womeninscience.html&quot;&gt;Growing cohort of women in science calling Brandeis home&lt;/a&gt;&lt;/strong&gt;&lt;/dt&gt;
              |     &lt;dd class=&quot;link&quot;&gt;&lt;a href=&quot;http://www.brandeis.edu&quot;&gt;&lt;em&gt;brandeis.edu&lt;/em&gt;&lt;/a&gt;&lt;/dd&gt;
              | &lt;/dl&gt;
        dt
          p To add (or edit) a press item, you'll have to touch two lines. To edit the article title & url use
        dd
          pre
            code <strong>&lt;dt&gt;&lt;strong&gt;&lt;a href=&quot;</strong> [ insert url ] <strong>&quot;&gt;</strong> [ insert text ] <strong>&lt;/a&gt;&lt;/strong&gt;&lt;/dt&gt;</strong>
        dt
          p To edit the source and the source url use
        dd
          pre
            code <strong>&lt;dd class=&quot;link&quot;&gt;&lt;a href=&quot;</strong> [ insert url ] <strong>&quot;&gt;&lt;em&gt;</strong> [ insert text ] <strong>&lt;/em&gt;&lt;/a&gt;&lt;/dd&gt;</strong>

        dd
          | e.g.
          blockquote <strong><a href="http://scienceclubforgirls.org/news-events-2/blog/mareshia-donalds-letter-to-her-young-self">Mareshia Donald’s letter to her young self</a></strong><br><a href="http://scienceclubforgirls.org"><em>scienceclubforgirls.org</em></a>