h3
  strong Setting up Filezilla 
p 
  | Filezilla is very easy to get up and running. Start by 
  strong
    a(href="https://filezilla-project.org/download.php?type=client") downloading
  |  and then installing the application. 
ol
  li 
    | After you've installed filezilla, open it for the first time and you should see this screen
    img.center(src="/public/images/how-to/1filezilla.png")
  li
    | Click the Site Maganger link
    img(src="/public/images/how-to/2filezilla.png")
  li 
    | Click 
    strong New Site
    |  and enter your information like below. You should already know your password and username. Click 
    strong Connect 
    | and that will save your settings and connect to the server.
    table.middle
      tbody
        tr
          td
            dl.centered
              dt 
                strong Host
              dd ftp.mareshiadonald.com
              dt 
                strong Protocol
              dd FTP - File Transfer Protocol
              dt 
                strong Encryption
              dd Use plain FTP (insecure)
              dt 
                strong Logon Type
              dd Normal
              dt 
                strong User
              dd Your username (most likely the one in the image)
              dt 
                strong Password
              dd Your pasword
          td.desktop
            img(src="/public/images/how-to/3filezilla.png")
          img.mobile(src="/public/images/how-to/3filezilla.png")
  li If you get a message prompting you to trust the servers certificate, click 
    strong ok
    |  .
  li 
    | Select every file and save everything in it by dragging it into a folder on your computer (if you want, you can download a copy of the website from the last time adam edited 
    strong
      a(href="https://github.com/apere/mar/archive/master.zip") here
    | ). This folder contains entire contents of your website. This is where you'll be working from.
    img(src="/public/images/how-to/4filezilla.png")