li#index
  h3
    strong index.html
  p Every webpage will have a filename of "index.html". This one, the one in the main folder, is the file for 
    strong MareshiaDonald.com/
  img(src="/public/images/how-to/4index.png")
  p To get started, find the block of code with the class <strong>inner-wrapper</strong>.
  pre
    code
      | &lt;div class=&quot;<strong>inner-wrapper</strong>&quot;&gt;
      |   <strong>&lt;h1&gt;</strong>Mareshia Donald, PhD<strong>&lt;/h1&gt;</strong>
      |   <strong>&lt;h5&gt;</strong>Scientist, STEM Educator and Outreach Professional with a commitment to social justice and diversifying the STEM pipeline.<strong>&lt;/h5&gt;</strong>
      | &lt;/div&gt;
  p Inside of <strong>inner-wrapper</strong>, the two places that you'll want to edit are: 
  ol
    li
      | To edit the title use
      dl
        dt
          pre
            code <strong>&lt;h1&gt;</strong> [ insert title ] <strong>&lt;/h1&gt;</strong>
        dd
          | e.g.
          blockquote
            h1 Mareshia Donald, PhD
    li
      | To edit the phrase use
      dt
        pre
          code <strong>&lt;h5&gt;</strong> [ insert phrase ] <strong>&lt;/h5&gt;</strong>
      dd
        | e.g.
        blockquote
          h5 Scientist, STEM Educator and Outreach Professional with a commitment to social justice and diversifying the STEM pipeline.