#table-of-contents
  h2 Table of Contents
  hr
  ul
    li
      strong
        a(href="#software") Software
      ul
        li
          a(href="#setup-filezilla") Setting up Filezilla
    li
      strong
        a(href="#files") Files
      ul
        li
          a(href="#images") /public/images
        li
          a(href="#index") index.html
        li
          a(href= "#about") /about/index.html
        li
          a(href= "#awards") /awards-honors-press/index.html
        li
          a(href= "#education") /education-and-experience/index.html
        li
          a(href= "#service") /service/index.html
    li
      strong
        a(href="#code-reference") Code Reference
      ul
        li
          a(href= "#structure") HTML Element Structure
        li
          a(href= "#custom-classes") Classes
        li
          a(href= "#custom-elements") HTML Elements