h2 Software
hr
dl
  dt
    strong 
      a(href="https://filezilla-project.org/download.php?type=client") FileZilla
  dd
    | This is the software that you will be using to connect to the server located at mareshiadonald.com. Filezilla is an FTP (File Transfer Protocol) application. It allows you to view and update files on an FTP server in the same way you would view and update files on your own computer.
   dt
    strong 
      a(href="http://brackets.io/") Brackets
  dd
    | This is my personal favorite text editor for coding. This application will let you open up any of your website files and edit them. It works just like a regular text editor but does some smart color coding for editing code. If you don't like brackets, you may want to try 
    strong
      a(href="http://www.sublimetext.com/") Sublime Text
    |.