footer.container.row.social-media
  a(href='http://www.linkedin.com/pub/mareshia-donald-ph-d/4/327/915', target='_blank')
    img(src='/public/images/icons/linkedin.png', width='20px', height='auto')
  a(href='https://twitter.com/superscientist', target='_blank')
    img(src='/public/images/icons/twitter.png', width='20px', height='auto')
  a(href='mailto:mareshia.donald@gmail.com', target='_blank')
    img(src='/public/images/icons/email.png', width='20px', height='auto')