nav.navbar
    .container.row
      ul.navbar-list
        a(href='index.html')
          li.navbar-item.active
            | Mareshia Donald, PhD
        a(href='about.html')
          li.navbar-item
            | About
         a(href='edu.html')
          li.navbar-item
           | Education/Experience
        a(href='awards.html')
          li.navbar-item
            | Awards, Honors, and Press
        a(href='service.html')
          li.navbar-item
            | Service
        li.navbar-item
          .mobile-button
            img(src='public/images/hamburger.png')