nav.navbar
    .container.row
      ul.navbar-list
        li.navbar-item.active
          a(href='index.html') Mareshia Donald, PhD
        li.navbar-item
          a(href='about.html') About
        li.navbar-item
          a(href='edu.html') Education/Experience
        li.navbar-item
          a(href='awards.html') Awards, Honors, and Press
        li.navbar-item
          a(href='service.html') Service