extends ../templates/_layout.jade
block body-id
  - bodyID = 'edu';
block title 
  .container.title-wrapper
    .row
      .twelve.columns.title
        h1 Education & Experience
block content
  #grid.main-content
    .row
      .twelve.columns.main-info.education.content
        h2 Education
        dl.degrees
          dt
            strong Ph.D Neuroscience
          dd.address
            em Brandeis University, Waltham MA 2014
          dt
            strong B.A. Neuroscience and Behavior
          dd.address
            em University of California at Santa Cruz, Santa Cruz CA 2004
          dt
            strong B.A. Language Studies
          dd.address
            em University of California at Santa Cruz, Santa Cruz CA 2004
      .row.content
        .four.columns.image-col
          img.disect-photo(src='/public/images/disect2.png')
        .eight.columns.main-info.experiences
          h2 Experience
          dl.experience
            dt
              strong Education and Diversity Program Manager
            dd.address
              em Fisher College Health Sciences & Biology Advisory Board
            dt.pdTitle
              strong Program Coordinator
            dd.address
              em SEED Academy @ MIT
            dd.description
              p
                | As Program Coordinator for SEED Academy, I support and foster the learning of 90 secondary students grades 9-12. To this end, to ensure that best practices in teaching and student engagement are being exercised, I have created and facilitate a professional development program for a teaching staff of 20. Additionally, I steer the development of pedagogy and curriculum toward an integrated, experiential and project based program model and foster relationships with educators, CBOs and community stakeholders in Cambridge, Lawrence and Boston.
              p
                | Additionally, I am charged with developing strategies for recruiting students from under-resourced and under-represented populations, supporting both staff and student evaluations and fostering working relationships with staff, faculty, students and the greater MIT community.
            dt.pdTitle
              strong Program Director
            dd.address
              em Brandeis Women in Science Initiative
            dd.description
              p
                | As Programming Director, I created a community of graduate students, post-doctoral fellows and faculty to foster the development of women in the sciences, and organized panels and forums to raise awareness about and address the issues women in science face. I forged a partnership with Brandeis’ Graduate Career Services Office to extend the reach of Professional Development Programming to the Sciences. I conceived of the Art of Science Series to broaden the interdisciplinary scope of the Initiative and to make Science more broadly accessible to people from diverse disciplines. I also assisted in securing two dedicated lactation rooms and hospital-grade lactation pump for community members not covered by the Affordable Care Act.

